@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	background: url("../src/assets/background2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	margin-top: 0px;
	padding-top: 3rem;
}

.brand {
	font-family: 'Fjalla One', sans-serif;
	font-size: 19px !important;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.title {
	font-family: 'Fjalla One', sans-serif;
	padding-top: 15rem;
}
